@model Parkway.CBS.Police.Core.VM.AddExpenditureHeadVM

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    Script.Require("CBS.MDA.Excel_Export.Script");

    Layout.Title = T("Edit Expenditure Head").ToString();

    Style.Require("CBS.MDA.Style.BootStrap");
    Style.Require("CBS.MDA.Style.Assesment");
}
<style>
    .textloader {
        position: absolute;
        left: 43%;
        top: 34%;
        color: #337ab7;
        display: none;
    }

    .profileloader {
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid rgb(20, 158, 196);
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
        position: absolute;
        margin: auto;
        left: 41%;
        top: 33%;
        display: none;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
</style>

<div class="zone zone-messages">
    <div class="message message-Error" id="errorFlash" style="display:none"></div>
</div>
@using (Html.BeginFormAntiForgeryPost(Url.RouteUrl(Parkway.CBS.Police.Admin.RouteName.PSSExpenditureHead.EditExpenditureHead)))
{
    @Html.HiddenFor(x => x.Id)

    <div class="container-fluid">
        <div id="inputContainer">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <b style="color:#e97d68;">Name</b>
                        @Html.TextBox("Name", Model.Name, new { @class = "form-control", @placeholder = "Enter name here", @required = "required" })
                        @Html.Hint(T("Enter name."))
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <b style="color:#e97d68;">Code</b>
                        @Html.TextBox("Code", Model.Code, new { @class = "form-control", @placeholder = "Enter code here", @required = "required" })
                        @Html.Hint(T("Enter code."))
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <b style="color:#e97d68;">&nbsp;</b>
                    <button class="btn btn-primary" style="width:100%">Save</button>
                </div>
            </div>
        </div>
    </div>
}
