@model Parkway.CBS.Core.HelperModels.VerifyAccountModel

@{
    Layout.Title = "Password Reset Verify Account";

    Script.Require("CBS.Popper.Script").AtFoot();
    Script.Require("CBS.Bootstrap4.Script").AtFoot();
    Script.Require("CBS.npf.main.Script").AtFoot();
    Script.Require("PSS.Resend.Password.Reset.Code.Script").AtFoot();
    Script.Require("PSS.Verify.Account.Code.Script").AtFoot();
    Style.Require("CBS.Bootstrap");
    Style.Require("CBS.NPF.Main");
}
<script>
     var token = @Html.Raw(Json.Encode(Model.Token));
</script>
<div id="verify-account-one">
    @Html.Partial("Partials\\HeaderPartial", Model.HeaderObj)

    <div class="container-fluid verify-account-main-content no-margin no-padding">


        <div class="container verify-account-content-container">
            @if (Model.FlashObj != null)
            {
                @Html.Partial("Partials\\Flash", Model.FlashObj)
            }
            <div id="infoDiv" style="display:none">
                <div class="container verify-account-alert-bar" id="flashi">
                    <div class="row no-padding no-margin">
                        <div class="container col-2 verified-icon-container no-margin no-padding">
                            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/checkedGreenTwo.svg"))" class="img img-responsive">
                        </div>
                        <div class="container col-10 no-margin no-padding verified-icon-details">
                            <h5>Verification Notification Info!</h5>
                            <p id="infMsg"></p>
                            <span class="delete-verified-alert-icon" id="closeFlashi">
                                <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/delete.svg"))" class="img img-responsive">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="errDiv" style="display:none">
                <div class="container error-alert-bar" id="flashe">
                    <div class="row no-padding no-margin">
                        <div class="container col-2 error-icon-container no-margin no-padding">
                            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/danger.svg"))" class="img img-responsive">
                        </div>
                        <div class="container col-10 no-margin no-padding error-icon-details">
                            <h5>Verification Error!</h5>
                            <p id="errorMsg"></p>
                            <span class="delete-error-alert-icon" id="closeFlashe">
                                <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/delete.svg"))" class="img img-responsive">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container verify-account-content no-padding">
                <div class="container no-padding">
                    <h4>Reset Password Verification</h4>
                    <p class="tip-text">Kindly enter the secret code sent to your email to reset your password.</p>
                    @using (Html.BeginRouteForm("P.Reset.Password.Verify", new { token = Model.Token }, FormMethod.Post, new { @id = "verForm", @name = "verForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="container-fluid code-box-container no-padding no-margin">
                                <div class="row no-padding">
                                    <div class="col-2 no-padding">
                                        <input type="text" required class="form-control code-box" maxlength="1" />
                                    </div>
                                    <div class="col-2 no-padding">
                                        <input type="text" required class="form-control code-box" maxlength="1" />
                                    </div>
                                    <div class="col-2 no-padding">
                                        <input type="text" required class="form-control code-box" maxlength="1" />
                                    </div>
                                    <div class="col-2 no-padding">
                                        <input type="text" required class="form-control code-box" maxlength="1" />
                                    </div>
                                    <div class="col-2 no-padding">
                                        <input type="text" required class="form-control code-box" maxlength="1" />
                                    </div>
                                    <div class="col-2 no-padding">
                                        <input type="text" required class="form-control code-box" maxlength="1" />
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="codeTextBox" name="Code" />
                            <p>Didn’t receive a code? <a href="#" id="resendCode" name="resendCode">Resend code</a></p>
                        </div>
                        <button type="submit" class="btn btn-block">Verify Account</button>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Partials\\FooterPartial")
</div>

<script>
    $("#closeFlashi").click(function (e) {
        $("#flashi").fadeOut("slow");
    });

    $("#closeFlashe").click(function (e) {
        $("#flashe").fadeOut("slow");
    });
</script>
