@model Parkway.CBS.Police.Admin.VM.PSSBranchSubUsersUploadValidationResultVM
@{
    Layout.Title = "Upload Branches: File Upload Validation Result";
    Style.Require("CBS.MDA.Style.BootStrap");
    Style.Require("CBS.Report.Reset.Pagination");
    Script.Require("PSS.Admin.Branch.Sub.Users.Upload.Validation.Result.Script");
}

<style>
    table.items th, table.items td {
        border-bottom: 1px solid #eaeaea;
        border-spacing: 0px;
        display: table-cell;
        padding: 8px 12px;
        position: relative;
        word-break: break-word;
    }

    .corporate-detail-tile {
        background-color: #f3f4f5;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px
    }

    span.status-false {
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        background-color: red;
        display: inline-block;
        height: 18px;
        line-height: 18px;
        width: 18px;
        text-align: center;
        border-radius: 100%;
        cursor: pointer;
    }

    span.status-true {
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        background-color: forestgreen;
        display: inline-block;
        height: 18px;
        line-height: 18px;
        width: 18px;
        text-align: center;
        border-radius: 100%;
        cursor: pointer;
    }

    .summary {
        text-align: right;
        margin-top: 25px;
        padding-bottom: 10px;
    }

    .summary-details {
        display: inline-block;
    }

    .numbers {
        border-bottom: 2px solid #D5D5D5;
        font-size: 15px;
        padding-bottom: 5px;
    }

        .numbers > span {
            margin-left: 10px;
        }

            .numbers > span.blue {
                color: blue;
            }

            .numbers > span.green {
                color: green;
            }

            .numbers > span.red {
                color: red;
            }

            .numbers > span span.bigger {
                font-size: 20px;
            }
    .payeeloader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid rgb(204, 204, 204);
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
</style>
<script>
    var batchToken = @Html.Raw(Json.Encode(Model.BatchToken));
    var batchStatus = @Html.Raw(Json.Encode(Model.BatchDetails.Status));
    var batchValidatedStatus = @Html.Raw(Json.Encode((int)Parkway.CBS.Police.Core.Models.Enums.PSSBranchSubUserUploadStatus.BatchValidated));
    var batchCompletedStatus = @Html.Raw(Json.Encode((int)Parkway.CBS.Police.Core.Models.Enums.PSSBranchSubUserUploadStatus.Completed));
</script>
<div class="container-fluid" style="width:100%">
    <div class="row" style="padding:15px">
        <div class="col-sm-6 corporate-detail-tile">
            <p><b>@T("Recipient")</b>
            <p>@Model.BatchDetails.TaxEntity.Recipient</p>
            @Html.Hint(T("The name of the recipient."))
        </div>
        <div class="col-sm-6 corporate-detail-tile">
            <p><b>@T("Phone number")</b>
            <p>@Model.BatchDetails.TaxEntity.PhoneNumber</p>
            @Html.Hint(T("Phone number of the recipient."))
        </div>
        <div class="col-sm-6 corporate-detail-tile">
            <p><b>@T("Category")</b>
            <p>@Model.BatchDetails.TaxEntity.CategoryName</p>
            @Html.Hint(T("Category of recipient."))
        </div>
        <div class="col-sm-6 corporate-detail-tile">
            <p><b>@T("Email")</b>
            <p>@Model.BatchDetails.TaxEntity.Email</p>
            @Html.Hint(T("Email of the recipient."))
        </div>
        <div class="col-sm-6 corporate-detail-tile">
            <p><b>@T("Address")</b>
            <p>@Model.BatchDetails.TaxEntity.Address</p>
            @Html.Hint(T("Address of the recipient."))
        </div>
        <div class="col-sm-6 corporate-detail-tile">
            <p><b>@T("Profile ID")</b>
            <p>@Model.BatchDetails.TaxEntity.PayerId</p>
            @Html.Hint(T("Profile ID of recipient"))
        </div>
    </div>
    <br />
    <div style="position:relative">
        <table class="items">
            <thead>
                <tr>
                    <th scope="col">@T("Branch Name")</th>
                    <th scope="col">@T("Branch State")</th>
                    <th scope="col">@T("Branch LGA")</th>
                    <th scope="col">@T("Branch Address")</th>
                    <th scope="col">@T("Sub User Name")</th>
                    <th scope="col">@T("Sub User Email")</th>
                    <th scope="col">@T("Sub User Phone Number")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BatchDetails.Status == (int)Parkway.CBS.Police.Core.Models.Enums.PSSBranchSubUserUploadStatus.BatchValidated || Model.BatchDetails.Status == (int)Parkway.CBS.Police.Core.Models.Enums.PSSBranchSubUserUploadStatus.Completed)
                {
                    if (Model.Items != null && Model.Items.Any())
                    {
                        foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.BranchName</td>
                                <td>@item.BranchStateValue</td>
                                <td>@item.BranchLGAValue</td>
                                <td>@item.BranchAddress</td>
                                <td>@item.SubUserName</td>
                                <td>@item.SubUserEmail</td>
                                <td>@item.SubUserPhoneNumber</td>
                                <td>
                                    @if (item.HasError)
                                    {<span class="status-false" data-toggle="tooltip" data-html="true" data-placement="top" title="@item.ErrorMessage">i</span> }
                                    else
                                    { <span class="status-true" data-toggle="tooltip" data-placement="top">&#10003;</span>}
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="8">No records found</td></tr>
                    }
                }
                else
                {
                    <tr><td colspan="8"><div class="payeeloader" id="uploadStatusLoader" style="margin:0 auto"></div></td></tr>
                }
            </tbody>
        </table>
        <small id="errorMessage"></small>
    </div>
    @Display(Model.Pager)

    <div class="summary">
        <div class="summary-details">
            <h4 class="numbers">
                <span class="blue" id="totalenttp" data-toggle="tooltip" data-html="true"><span class="bigger" id="totalent"></span> @Model.PSSBranchSubUsersUploadBatchItemsReport.StringNumberOfRecords Total Entries</span>
                <span class="green" id="totalvaltp" data-toggle="tooltip" data-placement="top" data-html="true"><span class="bigger" id="totalval"></span> @Model.PSSBranchSubUsersUploadBatchItemsReport.StringNumberOfValidRecords Valid Entries</span>
                <span class="red" id="totalinvtp" data-toggle="tooltip" data-placement="top" data-html="true"><span class="bigger" id="totalinv"></span> @Model.PSSBranchSubUsersUploadBatchItemsReport.StringNumberOfInvalidRecords Invalid Entries</span>
            </h4>
        </div>
    </div>

    @using (Html.BeginFormAntiForgeryPost(Url.RouteUrl(Parkway.CBS.Police.Admin.RouteName.PSSBranchSubUsersUpload.SaveBranchSubUsers), FormMethod.Post))
    {
        Html.AntiForgeryToken();
        <input type="hidden" value="@Model.BatchToken" name="batchToken" />
        if (Model.BatchDetails.Status == (int)Parkway.CBS.Police.Core.Models.Enums.PSSBranchSubUserUploadStatus.BatchValidated) {
            <button type="submit" class="btn btn-primary btn-block" id="saveBatchBtn" style="width:100%">@T("Save")</button>
        }
        else if(Model.BatchDetails.Status == (int)Parkway.CBS.Police.Core.Models.Enums.PSSBranchSubUserUploadStatus.Completed) {}
        else{ <button type="submit" class="btn btn-primary btn-block" id="saveBatchBtn" style="width:100%" disabled>@T("Save")</button> }
    }
</div>
