@model Parkway.CBS.Police.Core.VM.PSSSettlementReportSummaryVM

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    Layout.Title = T("Settlement Report Summary").ToString();

    Style.Require("CBS.MDA.Style.BootStrap");
    Style.Require("Style.Datepicker");
    Style.Require("CBS.MDA.Style.Assesment");
    Style.Require("CBS.Report.Reset.Pagination");

    Script.Require("CBS.MDA.BootstrapDatepicker.Script");
    Script.Require("CBS.MDA.Bootstrap.Script");
    Script.Require("CBS.MDA.AssessmentDatePicker.Script");
}
<style>
    .amount-text { text-align: right; }
</style>
<div class="zone zone-messages">
    <div class="message message-Error" id="errorFlash" style="display:none"></div>
</div>
@using (Html.BeginFormAntiForgeryPost())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">From</b>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <input type="text" placeholder="click to show datepicker" class="form-control pickyDate" value="@Model.From" name="From" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">To</b>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <input type="text" placeholder="click to show datepicker" class="form-control pickyDate" value="@Model.End" name="End" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <b style="color:#e97d68;">&nbsp;</b>
                <button class="btn btn-primary" style="width:100%" formaction="@Url.Action("ReportSummary", "PSSSettlementReport")">Search</button>
            </div>
            <div class="col-md-3">
                <div class="form-group" style="margin-top: 20px">
                    <button class="btn btn-success" style="margin-left: 10px" title="Export to excel" formaction="@Url.Action("SummaryReportDownload", "PSSSettlementReportFileExport", new { format = Parkway.CBS.Core.Models.Enums.ExportFormat.Excel } )">
                        <i class=" fa fa-file-excel-o"></i>
                        <span>Excel</span>
                    </button>
                    <button class="btn btn-danger" style="margin-left: 10px" title="Export to PDF" formaction="@Url.Action("SummaryReportDownload", "PSSSettlementReportFileExport", new { format = Parkway.CBS.Core.Models.Enums.ExportFormat.PDF })">
                        <i class=" pdf fa fa-file-pdf-o"></i>
                        <span>PDF</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    TRANSACTION DATE
                                </th>
                                <th>
                                    SETTLEMENT NAME
                                </th>
                                <th class="amount-text">
                                    SETTLEMENT AMOUNT
                                </th>
                                <th>
                                    ACTIONS
                                </th>
                            </tr>
                        </thead>
                        <tbody style="background-color:#EEEEEE;">
                            @if (Model.ReportRecords != null && Model.ReportRecords.Count() > 0)
                            {
                                foreach (var item in Model.ReportRecords)
                                {
                                    <tr>
                                        <td>
                                            @item.TransactionDate.ToString("dd MMM yyyy HH:mm")
                                        </td>
                                        <td>
                                            @item.SettlementName
                                        </td>
                                        <td class="amount-text">
                                            <span>&#8358;</span>@item.SettlementAmount.ToString("N2")
                                        </td>
                                        <td>
                                            <a href="@Url.Action("ReportInvoices","PSSSettlementReport",new { batchRef = @item.SettlementBatchRef })" target="_blank">view breakdown</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">No Records Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
@Display(Model.Pager)