@model Parkway.CBS.Core.HelperModels.InvoiceGeneratedResponseExtn

@{
    Layout.Title = "Make Payment";
    Script.Require("CBS.Popper.Script").AtFoot();
    Script.Require("CBS.Bootstrap4.Script").AtFoot();
    Script.Require("CBS.Main.Script").AtFoot();
    Script.Require("CBS.MakePayment.Script").AtFoot();
    Style.Require("CBS.Bootstrap");
    Style.Require("CBS.Style.Main");
    Style.Require("CBS.Style.Pages");
}
@Html.Partial("Partials\\HeaderPartial", Model.HeaderObj)
<style>
    .profileloader {
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid rgb(20, 158, 196);
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
        position: absolute;
        margin: auto;
        left: 48%;
        top: 37%;
        display: none;
    }

    .tiny-loader-caption {
        display: none;
        margin: unset;
        padding: unset;
        font-size: 12px;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
</style>
<div class="wrapper-payment">
    @Html.AntiForgeryToken()
    <div class="top-banner alt">
        <div class="banner-bottom">
            <h3>Make Payment</h3>
        </div>
    </div>
    <div class="container breadcrumbs">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.RouteUrl("C.SelfAssessment")">Select Identity</a></li>
                <li class="breadcrumb-item active" aria-current="page">Make Payment</li>
            </ol>
        </nav>
    </div>
    <div class="content-payment">
        <div id="infoFlashMsg" class="container alert-msg" style="background-color:#d1ecf1;">
            <small class="message" style="color:#155724;"><small style="white-space: pre-wrap; padding:10px 10px 10px 10px">Card Payment and Internet Banking Transfer are live!!!</small></small>
        </div>


        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div id="infoFlashMsg" class="container alert-msg" style="background-color:#d4edda;">
                <small class="message" style="color:#155724;"><small style="white-space: pre-wrap; padding:10px 10px 10px 10px">@Model.Message</small></small>
            </div>
        }

        @if (Model.InvoiceStatus == Parkway.CBS.Core.Models.Enums.InvoiceStatus.Paid)
        {
            <div id="infoFlashMsg" class="container alert-msg" style="background-color:#d4edda;">
                <small class="message" style="color:#155724;"><small style="white-space: pre-wrap; padding:10px 10px 10px 10px">This invoice has been fully paid for, there are no pending payments left.</small></small>
            </div>
        }

        <div class="container form-container">
            <div class="main-form payment-form big">
                <h3 class="form-title">
                    <span>BIN:@Model.InvoiceNumber</span>
                    <span class="end">
                        <a download href="@Url.RouteUrl("C.ViewInvoice",new { BIN = Model.InvoiceNumber})" name="viewInvoice" style="text-decoration:none; color:#E12222">@Url.RouteUrl("C.ViewInvoice")View Invoice</a> |
                        <a href="@Url.RouteUrl("C.Invoice.ReceiptDetails",new { invoiceNumber = Model.InvoiceNumber})" name="viewInvoiceReceipts" style="text-decoration:none; color:#E12222">View Receipts</a>
                    </span>
                </h3>

                <div class="row pl-4 pr-4" style="word-break:break-word">
                    <div class="col-md-3">
                        <p class="til">Name</p>
                        <p class="ans">@Model.Recipient</p>
                    </div>
                    <div class="col-md-3">
                        <p class="til">Invoice Amount Due <small style="font-size:60%">(after discount)</small></p>
                        <p class="ans">&#x20A6;@String.Format("{0:n2}", @Model.AmountDue)</p>
                    </div>
                    <div class="col-md-3">
                        <p class="til">Payer ID</p>
                        <p class="ans">@Model.PayerId</p>
                    </div>
                    <div class="col-md-3">
                        <p class="til">MDA</p>
                        <p class="ans">@Model.MDAName</p>
                    </div>
                    <div class="col-md-3">
                        <p class="til">Revenue Head</p>
                        <p class="ans">@Model.RevenueHeadName</p>
                    </div>
                    <div class="col-md-3">
                        <p class="til">External Ref. Number</p>
                        <p class="ans">@Model.ExternalRefNumber</p>
                    </div>
                    <div class="col-md-3">
                        <p class="til">TIN</p>
                        <p class="ans">@Model.TIN</p>
                    </div>
                </div>

                @if (Model.InvoiceStatus != Parkway.CBS.Core.Models.Enums.InvoiceStatus.Paid)
                {
                    <div class="row pl-4 pr-4">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6 anount-to-pay">
                            <hr>
                            <span class="amount">Amount to pay &#x20A6;</span>
                            <input type="text" class="form-control mb-2 mr-sm-2" style="margin-left:0px" placeholder="40,000" readonly id="amountDue" value="@String.Format("{0:n2}", @Model.AmountDue)">
                            <p><span>i</span>Part payment is not allowed for this invoice</p>
                        </div>
                    </div>
                    <div>
                        <h3 class="form-title"><span>Payment Methods</span></h3>

                        <nav class="pay-nav">
                            <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                                @if (Model.ShowRemitta)
                                {
                                    <a class="nav-item nav-link active" id="nav-remitta-tab" data-toggle="tab" href="#nav-remitta" role="tab" aria-controls="nav-remitta" aria-selected="true"><img class="nav-item" src="~/media/images/bank.svg" alt="CBS" />FEDERAL TSA REMITTANCE</a>
                                    <a class="nav-item nav-link" id="nav-netpay-tab" data-toggle="tab" href="#nav-netpay" role="tab" aria-controls="nav-netpay" aria-selected="true"><img class="nav-item" src="~/media/images/online-payment.svg" />ONLINE PAYMENT</a>
                                }
                                else
                                {
                                    <a class="nav-item nav-link active" id="nav-netpay-tab" data-toggle="tab" href="#nav-netpay" role="tab" aria-controls="nav-netpay" aria-selected="true"><img class="nav-item" src="~/media/images/online-payment.svg" />ONLINE PAYMENT</a>
                                }
                                <a class="nav-item nav-link" id="nav-mobile-tab" data-toggle="tab" href="#nav-mobile" role="tab" aria-controls="nav-mobile" aria-selected="false"><img class="nav-item" src="~/media/images/online-payment.svg" />MOBILE APP</a>
                                <a class="nav-item nav-link" id="nav-bankbranch-tab" data-toggle="tab" href="#nav-bankbranch" role="tab" aria-controls="nav-bankbranch" aria-selected="false"><img class="nav-item" src="~/media/images/bank.svg" />BANK BRANCH</a>
                                <a class="nav-item nav-link" id="nav-pos-tab" data-toggle="tab" href="#nav-pos" role="tab" aria-controls="nav-pos" aria-selected="false"><img class="nav-item" src="~/media/images/smartphone.svg" />POS</a>
                                <a class="nav-item nav-link" id="nav-atm-tab" data-toggle="tab" href="#nav-atm" role="tab" aria-controls="nav-atm" aria-selected="false"><img class="nav-item" src="~/media/images/atm-machine.svg" />ATM</a>
                            </div>
                        </nav>
                        <div class="pay-nav-content tab-content" id="nav-tabContent">
                            @if (Model.ShowRemitta)
                            {
                                <div class="tab-pane show active" id="nav-remitta" role="tabpanel" aria-labelledby="nav-remitta-tab">
                                    <p>Use the remita platform to make payment against this invoice by making a transfer from your TSA account to the @Model.TenantName State Consolidated Revenue account <b><a href="@Url.RouteUrl("C.ViewInvoice",new { BIN = Model.InvoiceNumber})" name="viewInvoice" style="text-decoration:none; color:#E12222">view invoice here</a></b>. PLEASE include the Bank3D Invoice Number (BIN) on the invoice in the narration field on the remita platform.</p>
                                </div>
                            }
                            else
                            {

                            }
                            <div class="tab-pane show @(Model.ShowRemitta? "": "active")" id="nav-netpay" role="tabpanel" aria-labelledby="nav-netpay-tab">
                                <p>You can make payment online with your ATM cards (MasterCard, Visa and Verve). Click on the ‘Pay’ button below to proceed. </p>
                                <form method="post" id="netPayForm">
                                    <input type="hidden" name="CustomerName" id="CustomerName" value="@Model.Recipient" />
                                    <input type="hidden" name="MerchantUniqueId" id="MerchantUniqueId" value="@Model.MerchantKey" />
                                    <input type="hidden" name="Color" id="Color" value="@Model.NetPayColorCode" />
                                    <input type="hidden" name="Mode" id="Mode" value="@Model.NetPayMode" />
                                    <input type="hidden" name="Currency" id="Currency" value="@Model.NetPayCurrencyCode" />
                                    <input type="hidden" name="Email" id="Email" value="@Model.Email" />
                                    <input type="hidden" name="PhoneNumber" id="PhoneNumber" value="@Model.PhoneNumber" />
                                    <input type="hidden" name="InvoiceNumber" id="InvoiceNumber" value="@Model.InvoiceNumber" />
                                    <input type="hidden" name="InvoiceId" id="InvoiceId" value="@Model.InvoiceId" />
                                    <input type="hidden" name="Description" id="Description" value="@Model.Description" />
                                    <button type="button" class="btn" onclick="getRef()">Pay</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="nav-mobile" role="tabpanel" aria-labelledby="nav-mobile-tab" style="text-align:justify">
                                <p>
                                    follow the steps below to make payments on your bank’s mobile banking platform;
                                    <ul>
                                        <li>
                                            Login to your bank mobile application and select transfer to bank.
                                        </li>
                                        <li>
                                            Select ‘Parkway Readycash’ as the receiving bank and input the your Bank3D Invoice Number (BIN) <b>@Model.InvoiceNumber</b> as the receiving bank account number
                                        </li>
                                        <li>
                                            Enter the exact amount to pay in the ‘Amount to transfer’ field that is <b>&#x20A6;@String.Format("{0:n2}", @Model.AmountDue)</b> and proceed.
                                        </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="tab-pane" id="nav-bankbranch" role="tabpanel" aria-labelledby="nav-bankbranch-tab">
                                <p>Kindly walk into any of the underlisted banks and present your Bank3D Invoice Number (BIN) to make payment against <a href="@Url.RouteUrl("C.ViewInvoice",new { BIN = Model.InvoiceNumber})" name="viewInvoice" style="text-decoration:none; color:#E12222">this invoice</a></p>
                            </div>
                            <div class="tab-pane" id="nav-pos" role="tabpanel" aria-labelledby="nav-pos-tab">
                                <p>You can make payment at POS terminals in any of the offices of the @Model.TenantName State Board of Internal Revenue with your ATM cards (MasterCard, Visa and Verve). You will be required to present your Bank3D Invoice Number (BIN)</p>
                            </div>
                            <div class="tab-pane" id="nav-atm" role="tabpanel" aria-labelledby="nav-atm-tab" style="text-align:justify">
                                <p>
                                    Follow the steps below to make payments at ATM;
                                    <ul>
                                        <li>
                                            Select the quickteller or bill pay option on the ATM.
                                        </li>
                                        <li>
                                            Select ‘Other Billers’ and enter biller number ‘20057’ and input the your Bank3D Invoice Number (BIN) <b>@Model.InvoiceNumber</b> as the ‘Biller Reference Number’
                                        </li>
                                        <li>
                                            Enter the exact amount to pay in the ‘Amount to transfer’ field that is <b>&#x20A6;@String.Format("{0:n2}", @Model.AmountDue)</b> and proceed.
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="summary-modal" style="display:none;align-items:center;flex-direction:row;justify-content:center;z-index:3;position:fixed;width:100%;height:100%;background-color:rgba(50,50,50,0.9);top:0;left:0;right:0;bottom:0">
        <div style="position:relative;background-color:white;height:auto;width:550px;border-radius:5px 5px 5px 5px;box-shadow:0 0 2px 2px rgba(255,255,255,0.2)">
            <div style="padding:35px">
                <p style="text-align:center;font-size: 20px">Find below your payment reference. Please copy and store it somewhere</p>
                <p style="text-align:center;font-weight:500;font-size:35px;letter-spacing:2px;padding:20px 0px" id="refText">REFERENCE</p>
                <span name="profileloader" id="profileloader" class="profileloader" style="position:absolute;margin:auto;z-index:10;bottom:-45px"></span>
                <button class="btn btn-block" style="bottom:0;background-color:#e2ad33" onclick="startPay()" id="proceedBtn">Proceed to make payment</button>
                <center><p class="tiny-loader-caption">Waiting for the payment gateway</p><small id="progressDots"></small></center>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/media/Assets/bank3d.min.js"></script>
    <script type="text/javascript">
        var redirecting = true;
        var summaryModal = $("#summary-modal");
        var refText = $("#refText");
        var clicked = false;
        var refNumber = "";
        var progressDots = document.getElementById("progressDots");
        var counter = -5;
        function getRef(){
        if(!clicked){
                clicked = true;
                var token = $("input[name=__RequestVerificationToken]").val();
                var url = '/c/x/getreferencenumber';
                var inputAmount = document.getElementById("amountDue").value;
                var amountValue = inputAmount.split(",").join("") * 1;
                var invoiceId = document.forms["netPayForm"].InvoiceId.value;
                var invoiceNumber = document.forms["netPayForm"].InvoiceNumber.value;
                var requestData = { "invoiceId": invoiceId, "invoiceNumber": invoiceNumber, "__RequestVerificationToken": token };
                 $.post(url, requestData, function (data) {
                        refNumber = data;
                        refText.text(refNumber);
                        summaryModal.css("display","flex");
                    }).fail(function () { })
                  .always(function () {
                      clicked = false;
                });
        }
        }
        function startPay() {
            if (!clicked) {
                clicked = true;
                $("#proceedBtn").prop("disabled",true);
                showProgress();
                var inputAmount = document.getElementById("amountDue").value;
                var amountValue = inputAmount.split(",").join("") * 100;
                var mode = document.forms["netPayForm"].Mode.value;
                var merchantKeyValue = document.forms["netPayForm"].MerchantUniqueId.value;
                var email = document.forms["netPayForm"].Email.value;
                var phoneNumber = document.forms["netPayForm"].PhoneNumber.value;
                var color = document.forms["netPayForm"].Color.value;
                var currency = document.forms["netPayForm"].Currency.value;
                var intervalId = 0;
                    $("#profileloader").css("display","block");
                    $(".tiny-loader-caption").css("display","inline-block");
                    const payment = Bank3D.createPayment({
                        reference: refNumber,
                        currencyCode: currency,
                        merchantKey: merchantKeyValue,
                        amount: parseInt(amountValue),
                        email: email,
                        phone: phoneNumber,
                        color: color,
                        mode: mode,
                        onReady: () => {
                            clicked = false;
                            showProgress();
                             summaryModal.css("display","none");
                             $("#proceedBtn").prop("disabled",false)
                             $("#profileloader").css("display","none");
                             $(".tiny-loader-caption").css("display","none");
                        },
                        callback: () => {
                            this.disabled = false;
                            window.location.href = '/c/notify/' + data;
                        },
                        onClose: () => {
                            this.disabled = false;
                            clicked = false;
                            clearInterval(intervalId);
                            summaryModal.css("display","none");
                            $("#profileloader").css("display","none");
                            $(".tiny-loader-caption").css("display","none");
                        }
                    });
                    payment.open();
            }
        }
       function showProgress() {
        if(clicked){
         intervalId = setInterval(showProgressDots, 500);
            }
        if(!clicked){
            clearInterval(intervalId);
            progressDots.innerHTML = "";
            }
        }
        function showProgressDots() {
            if (counter >= 0) {
                progressDots.innerHTML = ""; counter = -5;
            } else {
                progressDots.innerHTML += "."; counter++;
            }
        }
    </script>
    <div class="footer-top">
    </div>
    @Html.Partial("Partials\\FooterPartial")
</div>
