@model Parkway.CBS.Police.Core.VM.ValidateDocumentVM
@using Parkway.CBS.Core.HelperModels
@{
    Layout.Title = "Validate Extract";

    Script.Require("CBS.Popper.Script").AtFoot();
    Script.Require("CBS.Bootstrap4.Script").AtFoot();
    Script.Require("CBS.Main.Script").AtFoot();
    Style.Require("CBS.Bootstrap");
    Style.Require("CBS.NPF.Main");
}

<div id="verify-account-one">
    @Html.Partial("Partials\\HeaderPartial",Model.HeaderObj)

    <div class="container-fluid bin-search-main-content no-margin no-padding">
        <div class="container-fluid breadcrumb-nav">
            <ul class="nav justify-content-center escort-nav-list">
                <li class="nav-item">
                    <span class="checked-task"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/checkedGreen.svg"))" /></span>
                    <a href="#" class="nav-link">Home</a>

                </li>
                <li class="nav-item">
                    <span style="float:right;transform:rotate(-90deg)"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/arrowDown.svg"))" class="right-arrow-icon" /></span>
                </li>
                <li class="nav-item">
                    <span class="small-active-circle"></span>
                    <a href="#" class="nav-link active-link">Validate Document</a>
                </li>
                <li class="nav-item">
                    <span style="float:right;transform:rotate(-90deg)"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/arrowDown.svg"))" class="right-arrow-icon" /></span>
                </li>
                <li class="nav-item">
                    <span class="small-circle"></span>
                    <a href="#" class="nav-link">Document Info</a>
                </li>
            </ul>
            <div class="container-fluid active-center-link-container"><a href="#" class="active-center-link">Validate Document</a></div>
        </div>

        <div class="container bin-search-content-container">
            @if (Model.HasErrors)
            {
                @Html.Partial("Partials\\Flash", new FlashObj { Message = Model.ErrorMessage, FlashType = Parkway.CBS.Core.Models.Enums.FlashType.Error, MessageTitle = "Error" })
            }

            <div class="container bin-search-content no-padding">
                <div class="container no-padding">
                    @using (Html.BeginRouteForm("P.Validate.Document", FormMethod.Post, new { @id = "validateExtractForm", @name = "validateExtractForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="container no-padding">
                            <h4>POSSAP Approval Number <span data-toggle="tooltip" style="color: #E12222;font-size:12px;cursor:pointer" data-placement="right" data-html="true" title="<p>The Police Specialized Service Automation Project Approval Number is a unique number that is systematically assigned to each approved request generated on the Police Specialized Services Portal.</p>">What is this?</span></h4>
                            <p>Enter an approval number below</p>
                        </div>
                        <div class="container no-padding">
                            <div class="form-group">
                                <input required type="text" placeholder="PSS00000000000000" class="form-control" id="extractNumber" value="@Model.ApprovalNumber" name="ApprovalNumber" />
                                <div class="container-fluid no-padding" style="text-align:left"><small class="form-text text-muted">Don’t have an approval number? <a href="/p/select-service" style="color:#E12222">Click here</a></small></div>
                            </div>
                            <button name="proceedBtn" type="submit" class="btn btn-block">Proceed</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Partials\\FooterPartial")
</div>



