@model Parkway.CBS.Police.Core.VM.PCCDiasporaUserInputVM

@{
    Layout.Title = Model.ServiceName;

    Script.Require("CBS.Popper.Script").AtFoot();
    Script.Require("CBS.Bootstrap4.Script").AtFoot();
    Script.Require("CBS.npf.main.Script").AtFoot();
    Script.Require("CBS.MDA.BootstrapDatepicker.Script");
    Script.Require("PSS.DatePicker.Script");
    Script.Require("PSS.Side.Note.Pop.Up.Script").AtFoot();
    Script.Require("PSS.Character.Certificate.Diaspora.Script");
    Script.Require("Tooltip.Toggling.Script");
    Style.Require("CBS.Bootstrap");
    Style.Require("CBS.NPF.Main");
    Style.Require("Style.Datepicker");

    Style.Require("Style.PSS.Character.Certificate");

}
<style>
    .proof-of-residence-thumbnail embed {
        width: 70px;
        height: 70px;
        border-radius: 4px 4px 4px 4px;
        overflow: hidden;
    }

        .proof-of-residence-thumbnail embed html body {
            overflow: hidden;
        }

    .proof-of-residence-preview-document-embed {
        position: relative;
    }

    .finger-print-thumbnail embed {
        width: 70px;
        height: 70px;
        border-radius: 4px 4px 4px 4px;
        overflow: hidden;
    }

        .finger-print-thumbnail embed html body {
            overflow: hidden;
        }

    .finger-print-preview-document-embed {
        position: relative;
    }
</style>
<script>
    var internationalRequestType =  @Html.Raw(Json.Encode(Parkway.CBS.Police.Core.Models.Enums.PCCRequestType.International));
    var reasonsForInquiry = @Html.Raw(Json.Encode(Model.CharacterCertificateReasonsForInquiry));
    var reasonsForInquiryMap = new Map(reasonsForInquiry.map(obj => [obj.Id, obj]));
</script>
<div id="police-extract-content-one">
    @Html.Partial("Partials\\HeaderPartial", Model.HeaderObj)

    <div class="container-fluid police-extract-main-content no-margin no-padding">
        <div class="container-fluid breadcrumb-nav">
            <ul class="nav justify-content-center police-extract-nav-list">
                <li class="nav-item">
                    <span class="checked-task"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/checkedGreen.svg"))" /></span>
                    <a href="#" class="nav-link">Select Service</a>
                </li>
                <li class="nav-item">
                    <span style="float:right;transform:rotate(-90deg)"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/arrowDown.svg"))" class="right-arrow-icon" /></span>
                </li>
                <li class="nav-item">
                    <span class="small-active-circle"></span>
                    <a href="#" class="nav-link active-link">Fill Request Form</a>
                </li>
                <li class="nav-item">
                    <span style="float:right;transform:rotate(-90deg)"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/arrowDown.svg"))" class="right-arrow-icon" /></span>
                </li>
                <li class="nav-item">
                    <span class="small-circle"></span>
                    <a href="#" class="nav-link">Confirm Details and Submit Request</a>
                </li>
                <li class="nav-item">
                    <span style="float:right;transform:rotate(-90deg)"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/arrowDown.svg"))" class="right-arrow-icon" /></span>
                </li>
                <li class="nav-item">
                    <span class="small-circle"></span>
                    <a href="#" class="nav-link">Make Payment</a>
                </li>
            </ul>
            <div class="container-fluid active-center-link-container"><a href="#" class="active-center-link">Fill Request Form</a></div>
        </div>
        <div class="container-fluid police-extract-container no-padding">
            <div class="container police-extract-form-container no-padding">
                <div class="container-fluid no-margin no-padding service-note-toggle-container">
                    <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#sideNoteCollapsible" id="serviceNoteToggle">Click here to view note</button>
                </div>
                <div class="row no-margin no-padding">
                    <div class="container col-md-6 no-padding police-extract-form">
                        <h4>@Model.ServiceName.ToUpper()</h4>
                        <p class="grey-tip">Fill in the details of your request.</p>

                        <div class="row no-margin no-padding escort-duties-nav-list-form">
                            <div class="container no-margin no-padding">
                                <span class="small-blue-circle"></span>
                                <p>Applicant&nbsp;Info</p>
                            </div>
                            <div class="container dashed-block no-margin no-padding">
                                <div style="border:0.5px dashed #E3E3E3"></div>
                            </div>
                            <div class="container no-margin no-padding">
                                <span class="small-blue-circle"></span>
                                <p>Form 1</p>
                            </div>
                            <div class="container dashed-block no-margin no-padding">
                                <div style="border:0.5px dashed #E3E3E3"></div>
                            </div>
                            <div class="container no-margin no-padding">
                                <span class="small-blue-circle"></span>
                                <p>Form 2</p>
                            </div>
                        </div>
                        @using (Html.BeginRouteForm(Parkway.CBS.Police.Client.RouteName.PSSCharacterCertificateDiaspora.CharacterCertificateDiasporaRequest, FormMethod.Post, new { @id = "characterCertificateForm", @name = "characterCertificateForm", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCCharacterCertificateReasonForInquiry", Model) //Reason for inquiry
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCCountryOfOrigin", Model) //country of origin
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCDestinationCountry", Model) //destination country
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCPlaceOfBirth", Model) //Place of birth
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCDateOfBirth", Model) //Date of birth
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCCountryOfResidence", Model) //Country of residence
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCSelectedCountryOfPassport", Model) //Country of passport
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCPassportNumber", Model) //Passport Number
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCPlaceOfIssuance", Model) //Place of issuance
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCDateOfIssuance", Model) //Date of issuance

                            if (Model.IdentityTypeList != null)
                            {
                                @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCSelectIdentityType", Model)//select Identity type 13783102760
                            }

                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCPassportPhotographFile", Model) //Upload current passport photograph
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCIntPassportDatapageFile", Model) //Upload international passport biodata page
                            @Html.Partial("\\PSSCharacterCertificate\\Partials\\PCCProofOfResidenceFile", Model) //Upload proof of residence
                            <div class="container-fluid no-padding no-margin escort-duties-btn-group">
                                <div class="row no-margin no-padding">
                                    <div class="col-md-6 no-padding">
                                        <button type="button" id="back" onclick="location.href='@Url.RouteUrl(Parkway.CBS.Police.Client.RouteName.ServiceOptions.SelectOption)'"  class="btn btn-block blue-btn">Back</button>
                                    </div>
                                    <div class="col-md-6 no-padding">
                                        <button type="submit" class="btn btn-block blue-btn">Proceed</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @Html.Partial("Partials\\SideNotePartial", Model.ServiceNote)
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Partials\\FooterPartial")
    @if (!Model.ViewedTermsAndConditionsModal && Model.Caveat != null)
    {@Html.Partial("Partials\\PSServiceCaveatPartial", Model.Caveat)}
    @Html.Partial("Partials\\PCCDocumentUploadPreviewModal")
    @Html.Partial("Partials\\PCCDocumentUploadConfirmationModal")
    @Html.Partial("Partials\\PCCPassportUploadGuidelinesModal")
</div>
