@using PagedList.Mvc
@model  PagedList.IPagedList<CBSPay.Core.ViewModels.TaxPayerTransaction>
@{
    Layout = "~/Views/Shared/_EIRSReportPageLayout.cshtml";
    ViewBag.Title = "Pending Report";
    var Median = "0.00";
    var sum = "0.00";
    var average = "0.00";
    var count = "0";
    var max = "0.00";
    var min = "0.00";
    var timespan = "---";
    new CBSPay.Core.Services.PaymentService().TransactionReport(Model, ref Median, ref sum, ref average, ref count, ref max, ref min,ref timespan);
    //if (Model.Count != 0)
    //{
    //    Median = (Model.Count % 2 == 0 ? Model.ToArray()[(Model.Count) / 2].TotalAmount : (Model.ToArray()[(Model.Count) / 2].TotalAmount + Model.ToArray()[((Model.Count) / 2) + 1].TotalAmount) / 2).ToString("N2");

    //    sum = Model.Sum(x => x.TotalAmount).ToString("N2");

    //    average = ((Model.Sum(x => x.TotalAmount) / Model.Count).ToString("N2"));

    //    count = Model.Count.ToString("N0");

    //    max = Model.Max(x => x.TotalAmount).ToString("N2");

    //    min = Model.Min(x => x.TotalAmount).ToString("N2");

    //    timespan = $"From {Model.LastOrDefault().PaymentDate} to {Model.FirstOrDefault().PaymentDate}";
    //}
}
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/datepickerinitialization.js"></script>
<style>
    input[type=text] {
        width: 100%;
    }

    .input-group {
        width: 100%;
    }
</style>
@using (Html.BeginForm())
{
    <div class="title">
        <h1 title="This are successful transaction that have not been synced with EIRS system.">Pending Reports</h1>
        <hr>
    </div>
    @Html.Partial("_ReportFilterStat", new ViewDataDictionary { { "Action", "PendingReport" }, { "Median", Median }, { "sum", sum }, { "average", average }, { "count", count }, { "max", max }, { "min", min }, { "timespan", timespan } });
    @*<div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <b style="color:#c00001;">From</b>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <input type="text" id="datepicker1" placeholder="click to show datepicker" class="form-control pickyDate" value="" name="fromRange" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <b style="color:#c00001;">To</b>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <input type="text" id="datepicker2" placeholder="click to show datepicker" class="form-control pickyDate" value="" name="endRange" />
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <b style="color:#c00001;">Select Payment Channel</b>
                <select name="paymentChannel" id="paymentChannel_Selected" class="form-control" selectBox>
                    <option value="" disabled selected>Select a Payment Channel</option>
                    <option value="NETPAY">Online</option>
                    <option value="Branch">InBranch</option>
                    <option value="POS">POS</option>
                </select>

            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <b style="color:#c00001;">Search by Reference Number </b>
                    @Html.TextBox("referenceNumber", "", new { @class = "form-control", @placeholder = "Enter Reference Number", @name = "referenceNumber" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <b style="color:#c00001;">Tax Payer RIN </b>
                <div class="input-group">
                    @Html.TextBox("TaxPayerRIN", "", new { @class = "form-control", @placeholder = "Enter Tax Payer RIN", @name = "TaxPayerRIN" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <b style="color:#c00001;"></b>
                <span class="input-group-btn" style="display:inline-block;margin-top:20px;">
                    <button class="btn btn-success" style="border-radius:10px;text-align: right;" formaction="@Url.Action("PendingReport", "Report")">Search</button>
                </span>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered" id="table">
                    <thead>
                        <tr>
                            @*<th style="color:#c00001;">
                                Payment Log ID
                            </th>*@
                            <th style="color:#c00001;">
                                Tax Payer RIN
                            </th>
                            <th style="color:#c00001;">
                                TaxPayer Name
                            </th>
                            <th style="color:#c00001;">
                                Tax Payer Phone Number
                            </th>
                            <th style="color:#c00001;">
                                Reference Number
                            </th>
                            <th style="color:#c00001;">
                                Amount (<span>&#8358;</span>)
                            </th>

                            <th style="color:#c00001;">
                                Payment Date
                            </th>
                            @*<th style="color:#c00001;">
                                Synced With RDM
                            </th>*@
                        </tr>
                    </thead>
                    <tbody style="background-color:#EEEEEE;">
                        @if (Model != null && Model.Count() > 0)
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    @*<td>
                                        @Model[i].PaymentIdentifer
                                    </td>*@
                                    <td>
                                        @Model[i].TaxPayerRIN
                                    </td>
                                    <td>
                                        @Model[i].TaxPayerName
                                    </td>

                                    <td>
                                        @Model[i].PhoneNumber
                                    </td>
                                    <td>
                                        @Model[i].ReferenceNumber
                                    </td>
                                    <td>
                                        @Model[i].TotalAmount.ToString("N2")
                                    </td>

                                    <td>
                                        @Model[i].PaymentDate.ToString("dd MMM yyyy")
                                    </td>
                                    @*<td></td>*@
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">No Records Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("PendingReport", new { page }))
        </div>
    </div>
}