@using PagedList.Mvc
@model PagedList.IPagedList<CBSPay.Core.Entities.ServiceBillItem>
@{
    ViewBag.Title = "Service Bill Item Report";
    Layout = "~/Views/Shared/_EIRSReportPageLayout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/datepickerinitialization.js"></script>
<style>
    input[type=text] {
        width: 100%;
    }
    .input-group {
        width: 100%;
    }
</style>
@using (Html.BeginForm())
{
    <div class="title">
        <h1 title="This includes the details of all MDA service items on this platform.">Service Bill Item Report</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered" id="table">
                    <thead>
                        <tr>
                            <th>
                                S/N
                            </th>
                            <th>
                                Item Reference Number
                            </th>
                            <th>
                                MDA service Item
                            </th>
                            <th>
                                MDA service
                            </th>
                            <th>
                                Service Amount
                            </th>
                            <th>
                                Settlement Amount
                            </th>
                            <th>
                                Pending Amount
                            </th>
                            <th>
                                Payment Status
                            </th>
                        </tr>
                    </thead>
                    <tbody style="background-color:#EEEEEE;">
                        @if (Model != null && Model.Count() > 0)
                        {
                            var i = 0;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{ i++; }
                                        <span>@i</span>
                                    </td>
                                    <td>
                                        @item.MDAServiceItemReferenceNo
                                    </td>
                                    <td>
                                        @item.MDAServiceItemName
                                    </td>
                                    <td>
                                        @item.MDAServiceName
                                    </td>
                                    <td>
                                        @item.ServiceAmount.Value.ToString("N2")
                                    </td>
                                    <td>
                                        @item.SettlementAmount.Value.ToString("N2")
                                    </td>
                                    <td>
                                        @item.PendingAmount.Value.ToString("N2")
                                    </td>
                                    <td>
                                        @if (item.SettlementAmount == 0.00M || item.SettlementAmount == null)
                                        {
                                            <span>No Payment</span>
                                        }
                                        else if (item.SettlementAmount > 0.00M && item.SettlementAmount < item.ServiceAmount)
                                        {
                                            <span>Partial Payment</span>
                                        }
                                        else
                                        {
                                            <span>Full Payment</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">No Records Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            <p>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </p>
            <p>
                @Html.PagedListPager(Model, page => Url.Action("ServiceBillItemReport", new { page }))
            </p>
        </div>
    </div>
}

