@model CBSPay.Core.APIModels.EIRSSettlementInfo
<div class="row"> 
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span>Tax Payer Name:  </span> <b class="pull-right">@Model.TaxPayerName</b></li>
                    <li class="list-group-item"><span>Refrence Number: </span> <b class="pull-right">@Model.ReferenceNumber</b></li>
                    <li class="list-group-item"><span>Tax Payer RIN Number: </span> <b class="pull-right">@Model.TaxPayerRIN</b></li>
                 

                    <li class="list-group-item"><span>ServiceBill ID: </span> <b class="pull-right">@if (Model.ServiceBillID != 0)
                    {
                        @Model.ServiceBillID
                    }
                    else
                    {
                        <small> -</small>
                    } </b></li>
                    <li class="list-group-item"><span>Assessment ID: </span> <b class="pull-right">
                        @if (Model.AssessmentID != 0)
                        {
                            @Model.AssessmentID
                        }
                        else
                        {
                            <small> -</small>
                        } 
                        </b></li>
                    <li class="list-group-item"><span>PaymentDate: </span> <b class="pull-right">
                        @if (Model.PaymentDate != null)
                        {
                            @Model.PaymentDate.ToString("dd MMM yyyy")
                        }
                        else
                        {
                            <small> -</small>
                        } 
                       </b></li>
                    <li class="list-group-item">
                        <span>Settlement Date: </span> <b class="pull-right">
                            @if (Model.SettlementDate != null)
                            {
                                @Model.SettlementDate.ToString("dd MMM yyyy")
                            }
                            else
                            {
                                <small> -</small>
                            }
                        </b>
                    </li>

                    <li class="list-group-item"><span> SettlementMethod: </span> <b class="pull-right">@Model.SettlementMethodName</b></li>
                    
                    <li class="list-group-item"><span>Total Amount Paid : </span><b class="pull-right">@Model.TotalAmountPaid</b></li>

                    <li class="list-group-item"><span>Payment Reference: </span><b class="pull-right">@Model.TransactionRefNo</b></li>

                    <li class="list-group-item"><span>Settlement Note: </span> <b class="pull-right">@Model.Notes</b></li>

                </ul>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Settlement List Item
            </div>
            <div class="card-body">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Settlement TBPKID
                                    </th>
                                    <th>
                                        Tax Amount
                                    </th>

                                    <th>
                                        Settlement Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="background-color:#EEEEEE;">

                                @if (Model.lstSettlementItems != null && Model.lstSettlementItems.Count() > 0)
                                {
                                    foreach (var item in Model.lstSettlementItems)
                                    {
                                        <tr>
                                            <td>
                                                @item.TBPKID
                                            </td>
                                            <td>
                                                @item.TaxAmount
                                            </td>

                                            <td>
                                                @item.ToSettleAmount
                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">No Records Found</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="" style="text-align:right;margin-top: 25px;">
            <a href="@Url.Action("Receipt","ShowPdfInBrowser", new { pref = Model.TransactionRefNo})" class="btn btn-info">DOWNLOAD RECEIPT <i class="fa fa-download"></i></a>
        </div>
    </div>           
</div> 