@{
    Layout.Title = Html.TitleForPage(T("Lost Password Request")).ToString();
}

<div class="col-sm-offset-3 col-sm-6 well well-sm logreg">
    <h3>Lost Password</h3>
    <p class="small" style="color:#428bca">@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
    <hr />
    @using (Html.BeginFormAntiForgeryPost(Url.Action("RequestLostPassword", new { ReturnUrl = Request.QueryString["ReturnUrl"] }), FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="form-group">
            @*<label for="userNameOrEmail" class="col-sm-2 control-label">@T("Username")</label>*@
            <div class="col-sm-12 login-form">
                @Html.TextBox("username", string.Empty, new { id = "username", @class = "form-control", autofocus = "autofocus", placeholder = "Username or E-mail" })
                @Html.ValidationMessage("username", new { @class = "small red" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary btn-block">@T("Send Request")</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="reset" class="btn btn-default btn-block">@T("Reset")</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>