@{
    Style.Require("RSTVL.Main");
}
<div class="rstvl-nav-container">
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/Logo.png"))" class="img img-responsive">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.AppendModulePrefixToRouteName("C.About")">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.AppendModulePrefixToRouteName("Receipt.Search")">Validate receipt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.AppendModulePrefixToRouteName("C.ContactUs")">Call</a>
                </li>
                @if (Model.ShowSignin)
                {
                    if (Model.IsLoggedIn)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle loggedIn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-transform:capitalize">@Model.DisplayText</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="color:#808080" href="@Url.AppendModulePrefixToRouteName("CBS.Receipts")">Paye Receipts</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="color:#808080" href="@Url.AppendModulePrefixToRouteName("CBS.Payments")">Payment List</a>
                                <div class="dropdown-divider"></div>
                                @using (Html.BeginForm("SignOut", "Collection", FormMethod.Post, new { @id = "signoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="dropdown-item" href="#" id="signoutlnk">Sign Out</a>
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link link-bordered" href="@Url.AppendModulePrefixToRouteName("CBS.User.Register")">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="@Url.AppendModulePrefixToRouteName("C.SignIn")">Sign In</a>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link link-bordered" href="@Url.AppendModulePrefixToRouteName("CBS.User.Register")">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="@Url.AppendModulePrefixToRouteName("C.SignIn")">Sign In</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>
<script>
    $("#signoutlnk").click(function (e) {
        $('#signoutForm').get(0).submit();
    });
</script>