@model Parkway.CBS.Police.Core.VM.GenericRequestDetailsVM

<div class="container-fluid no-padding">
    <div class="row no-padding">
        <div class="col-md-3 pb-1">
            <label class="no-margin grey-label" for="name">Applicant Name</label>
            <p class="bolded-info" id="name">@Model.CbsUser.Name</p>
        </div>
        <div class="col-md-3 pb-1">
            <label class="no-margin grey-label" for="serviceName">Service Name</label>
            <p class="bolded-info" id="serviceName">@Model.ServiceName<p />
        </div>
        <div class="col-md-3 pb-1">
            <label class="no-margin grey-label" for="cmdName">Command Name</label>
            <p class="bolded-info" id="cmdName">@Model.CommandName<p />
        </div>
        <div class="col-md-3 pb-1">
            <label class="no-margin grey-label" for="cmdStateName">Command State</label>
            <p class="bolded-info" id="cmdStateName">@Model.CommandStateName<p />
        </div>
        <div class="col-md-3 pb-1">
            <label class="no-margin grey-label" for="cmdLgaName">Command LGA</label>
            <p class="bolded-info" id="cmdLgaName">@Model.CommandLgaName<p />
        </div>
        @if (Model.FormControlValues.Count > 0 && Model.FormControlValues != null)
        {
            foreach (var formCtrl in Model.FormControlValues)
            {
                <div class="col-md-3 pb-1">
                    <label class="no-margin grey-label">@formCtrl.Name</label>
                    <p class="bolded-info">@formCtrl.Value<p />
                </div>
            }
        }
        <div class="col-md-3 pb-1">
            <label class="no-margin grey-label">Approval Number</label>
            <p class="bolded-info">@Model.ApprovalNumber<p />
        </div>
        <div class="col-md-3 pb-1">
            <label class="no-margin grey-label">Request Date</label>
            <p class="bolded-info">@Model.RequestDate<p />
        </div>
        <div class="col-md-3 pb-1">
            <label class="no-margin grey-label">Approval Date</label>
            <p class="bolded-info">@Model.ApprovalDate<p />
        </div>
    </div>
</div>
