@model Parkway.CBS.Module.ViewModels.MDASettingsViewModel

@{
    Script.Require("CBS.MDA.Settings.Script").AtFoot();

    Layout.Title = "Edit MDA - ".ToString() + Model.MDA.Name;
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("Edit", "MDA", new { area = "Parkway.CBS.Module" }), FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div id="container">
        <table class="items" id="settings">
            <thead>
                <tr>
                    <th scope="col" id="titleHeader">MDA Settings</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label id="mdaName">@T("MDA Name")</label>
                        @Html.TextBoxFor(m => m.MDA.Name, new { @class = "text large", @required = true })
                        @Html.Hint(T("Add the MDA name to be added on the invoice."))
                        @Html.ValidationMessageFor(m => m.MDA.Name, "", new { @style = "color:#990808" })
                    </td>
                    <td>
                        <label id="mdaName">@T("MDA Code")</label>
                        @Html.TextBoxFor(m => m.MDA.Code, new { @class = "text large", @required = true })
                        @Html.Hint(T("Add the MDA code for invoice reference."))
                        @Html.ValidationMessageFor(m => m.MDA.Code, "", new { @style = "color:#990808" })
                    </td>

                </tr>
                <tr>
                    <td>
                        <label id="mdaName">@T("MDA Contact Email")</label>
                        @Html.TextBoxFor(m => m.MDA.MDASettings.CompanyEmail, new { @class = "text large", @required = true, @type = "email" })
                        @Html.Hint(T("Add the MDA contact email to be displayed on the invoice."))
                        @Html.ValidationMessageFor(m => m.MDA.MDASettings.CompanyEmail, "", new { @style = "color:#990808" })
                    </td>
                    <td>
                        <label id="mdaCode">@T("MDA Contact Phone Number")</label>
                        @Html.TextBoxFor(m => m.MDA.MDASettings.CompanyMobile, new { @class = "text large", @required = true })
                        @Html.Hint(T("Add the MDA contact phone number to be displayed on the invoice."))
                        @Html.ValidationMessageFor(m => m.MDA.MDASettings.CompanyMobile, "", new { @style = "color:#990808" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.UseTSA)
                        {
                            @Html.CheckBox("UseTSA", true) <small>Use TSA</small>
                            <label id="mdaCode">@T("Bank Account Number")</label>
                            <input class="text large" disabled id="MDA_BankDetails_BankAccountNumber" name="MDA.BankDetails.BankAccountNumber" required value="" type="text">
                            @*@Html.TextBoxFor(m => m.MDA.BankDetails.BankAccountNumber, new { @class = "text large", @required = true, @disabled = true, @value = string.Empty })*@
                        }
                        else
                        {
                            @Html.CheckBox("UseTSA", false) <small>Use TSA</small>
                            <label id="mdaCode">@T("Bank Account Number")</label>
                            @Html.TextBoxFor(m => m.MDA.BankDetails.BankAccountNumber, new { @class = "text large", @required = true })
                        }
                        @Html.Hint(T("Enter Bank Account Name."))
                        @Html.ValidationMessageFor(m => m.MDA.BankDetails.BankAccountNumber, "", new { @style = "color:#990808" })

                    </td>
                    <td>
                        @if (Model.UseTSA)
                        {
                            <br />
                            <label id="mdaName">@T("Select Bank")</label>
                            <select name="bank" aria-required="true" id="bank" style="width:99%" required disabled>
                                <option value="">Select Bank</option>
                                @foreach (var item in Model.Banks)
                                {
                                    if (item.Id.ToString() == Model.SBankId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        }
                        else
                        {
                            <br />
                            <label id="mdaName">@T("Select Bank")</label>
                            <select name="bank" aria-required="true" id="bank" style="width:99%" required>
                                <option value="">Select Bank</option>
                                @foreach (var item in Model.Banks)
                                {
                                    if (item.Id.ToString() == Model.SBankId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        }

                        @Html.Hint(T("Select Bank."))
                        @Html.ValidationMessageFor(m => m.MDA.BankDetails.Id, "", new { @style = "color:#990808" })
                    </td>
                </tr>
                @*<tr>
                    <td>
                        @if (Model.HasTSA)
                        {
                            @Html.CheckBox("useTSA", false, new { @disabled = true }) <small>Use TSA</small>
                        }
                        <label id="mdaCode">@T("Bank Account Number")</label>
                        @Html.TextBoxFor(m => m.MDA.BankDetails.BankAccountNumber, new { @class = "text large", @required = true, @readonly = true })
                        @Html.Hint(T("Enter Bank Account Name."))
                        @Html.ValidationMessageFor(m => m.MDA.BankDetails.BankAccountNumber, "", new { @style = "color:#990808" })
                    </td>
                    <td>
                        @if (Model.HasTSA)
                        {
                            <br />
                        }
                        <label id="mdaName">@T("Select Bank")</label>
                        <select name="bank" aria-required="true" id="bank" style="width:99%" required disabled>
                            <option value="">Select Bank</option>
                            @foreach (var item in Model.Banks)
                            {
                                if (item.Id == Model.MDA.BankDetails.BankId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                        @Html.Hint(T("Select Bank."))
                        @Html.ValidationMessageFor(m => m.MDA.BankDetails.BankId, "", new { @style = "color:#990808" })
                    </td>
                </tr>*@
                <tr id="accounttr">
                    <td colspan="2">
                        <label id="mdaName">@T("Account Name")</label>
                        @Html.TextBox("accountName", null, new { @class = "text large", @disabled = true })
                        @Html.Hint(T("Bank Account Name."))
                        @Html.ValidationMessageFor(m => m.MDA.MDASettings.CompanyEmail, "", new { @style = "color:#990808" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="mdaName">@T("Upload Logo")</label>
                        @if (Model.MDA.MDASettings.LogoPath != null)
                        {
                            <div class="media-thumbnail media-thumbnail-image mime-type-image-jpeg">
                                <img src="@Model.MDA.MDASettings.GetThumbnail(Model.MDA.MDASettings.LogoPath)" alt="file not found">
                            </div>
                            @Html.HiddenFor(m => m.MDA.MDASettings.LogoPath)
                            @Html.TextBox("LogoPath", null, new { @name = "LogoPath", @class = "text large", @type = "file", @accept = "image/x-png, image/gif, image/jpeg" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.MDA.MDASettings.LogoPath, new { @name = "LogoPath", @class = "text large", @required = true, @type = "file", @accept = "image/x-png, image/gif, image/jpeg" })
                        }
                        @Html.Hint(T("Upload logo for invoices generated."))
                        @Html.ValidationMessageFor(m => m.MDA.MDASettings.LogoPath, "", new { @style = "color:#990808" })
                    </td>
                    <td>
                        <label id="mdaName">@T("Upload Signature")</label>
                        @if (Model.MDA.MDASettings.SignaturePath != null)
                        {
                            <div class="media-thumbnail media-thumbnail-image mime-type-image-jpeg">
                                <img src="@Model.MDA.MDASettings.GetThumbnail(Model.MDA.MDASettings.SignaturePath)" alt="file not found">
                            </div>
                            @Html.HiddenFor(m => m.MDA.MDASettings.SignaturePath)
                            @Html.TextBox("SignaturePath", null, new { @name = "SignaturePath", @class = "text large", @type = "file", @accept = "image/x-png, image/gif, image/jpeg" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.MDA.MDASettings.SignaturePath, new { @name = "SignaturePath", @class = "text large", @required = true, @type = "file", @accept = "image/x-png, image/gif, image/jpeg" })
                        }
                        @Html.Hint(T("Signature logo for invoices generated."))
                        @Html.ValidationMessageFor(m => m.MDA.MDASettings.SignaturePath, "", new { @style = "color:#990808" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label id="mdaCode">@T("Company Address")</label>
                        @Html.TextAreaFor(m => m.MDA.MDASettings.CompanyAddress, new { @class = "text large", @required = true })
                        @Html.Hint(T("Enter state address to be displayed on the invoice."))
                        @Html.ValidationMessageFor(m => m.MDA.MDASettings.CompanyAddress, "", new { @style = "color:#990808" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <fieldset>
        <button type="submit">@T("Save")</button>
        <button type="button" value="@T(" Cancel")" onclick="location.href='@Url.Action(" List", "MDA" )'" class="a-classname">@T("Cancel")</button>
    </fieldset>
}