@model Parkway.CBS.Police.Core.VM.CharacterCertificateRequestDetailsVM
@{ Script.Require("PSS.View.Blob.Script").AtFoot(); }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<table class="items">
    <thead>
        <tr>
            <th scope="col" id="titleHeader" colspan="3">DETAILS OF @Model.ServiceName.ToUpper()</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label for="extReason">Request Reason</label>
                <p class="extend-width">@Model.Reason</p>
            </td>
            @*<td>
                <label for="extReason">Tribe</label>
                <p class="extend-width">@Model.Tribe</p>
            </td>*@
            <td>
                <label for="countryOfOrigin">Country Of Origin</label>
                <p class="extend-width">@Model.CountryOfOrigin</p>
            </td>
            <td>
                <label for="stateOfOrigin">State Of Origin</label>
                <p class="extend-width">@Model.StateOfOrigin</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="dateOfBirth">Date Of Birth</label>
                <p class="extend-width">@Model.DateOfBirth</p>
            </td>
            <td>
                <label for="placeOfBirth">Place Of Birth</label>
                <p class="extend-width">@Model.PlaceOfBirth</p>
            </td>
            <td>
                <label for="prevConvicted">Previously Convicted</label>
                <p class="extend-width">@Model.IsPreviouslyConvicted</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="destCountry">Destination Country</label>
                <p class="extend-width">@Model.DestinationCountry</p>
            </td>
            <td>
                <label for="countryOfPassport">Country Of Passport</label>
                <p class="extend-width">@Model.CountryOfPassport</p>
            </td>
            <td>
                <label for="passportNumber">Passport Number</label>
                <p class="extend-width">@Model.PassportNumber</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="placeOfIssuance">Place of Issuance</label>
                <p class="extend-width">@Model.PlaceOfIssuance</p>
            </td>
            <td>
                <label for="dateOfIssuance">Date of Issuance</label>
                <p class="extend-width">@Model.DateOfIssuance</p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">
                <label for="extReason">Previous Conviction History</label>
                <p class="extend-width">@Model.PreviousConvictionHistory</p>
            </td>
        </tr>
    </tbody>
</table>
<table class="items">
    <thead>
        <tr>
            <th scope="col" id="titleHeader" colspan="3">POLICE COMMAND TO PROVIDE THE SERVICE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label for="stateT">State</label>
                <p class="extend-width">@Model.StateName</p>
            </td>
            <td>
                <label for="lgaT">LGA</label>
                <p class="extend-width">@Model.LGAName</p>
            </td>
            <td>
                <label for="srchCmd">Search Command</label>
                <p class="extend-width">@Model.CommandName</p>
            </td>
        </tr>
    </tbody>
</table>

@using (Html.BeginFormAntiForgeryPost())
{
    if (!string.IsNullOrEmpty(Model.RefNumber))
    {
        <table class="items">
            <thead>
                <tr>
                    <th scope="col" colspan="2" id="titleHeader">ADDITIONAL DETAILS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label for="refNumber">Reference Number</label>
                        <p>@Model.RefNumber</p>
                    </td>
                </tr>
            </tbody>
        </table>
    }


    <table class="items">
        <thead>
            <tr>
                <th scope="col" colspan="2" id="titleHeader">ATTACHMENTS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Passport Photograph
                </td>
                <td>
                    <button class="btn btn-primary" title="Download file" formaction="@Url.Action("AttachmentDownload", "PSSFileExport", new { fileName = Model.PassportPhotographFileName, path = Model.PassportPhotographFilePath, contentType = Model.PassportPhotographContentType })" formnovalidate>
                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-primary view-blob" title="View file">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <input type="text" class="blobstring" value="@Model.PassportPhotographBlob" hidden />
                    <input type="text" class="blob-content-type" value="@Model.PassportPhotographContentType" hidden />
                </td>
            </tr>
            @if (!string.IsNullOrEmpty(Model.InternationalPassportDataPageFileName))
            {
                <tr>
                    <td>
                        International Passport Data Page
                    </td>
                    <td>
                        <button class="btn btn-primary" title="Download file" formaction="@Url.Action("AttachmentDownload", "PSSFileExport", new { fileName = Model.InternationalPassportDataPageFileName, path = Model.InternationalPassportDataPageFilePath, contentType = Model.InternationalPassportDataPageContentType })" formnovalidate>
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-primary view-blob" title="View file">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <input type="text" class="blobstring" value="@Model.InternationalPassportDataPageBlob" hidden />
                        <input type="text" class="blob-content-type" value="@Model.InternationalPassportDataPageContentType" hidden />
                    </td>
                </tr>
            }
            @*<tr>
                <td>
                    Signature
                </td>
                <td>
                    <button class="btn btn-primary" title="Download file" formaction="@Url.Action("AttachmentDownload", "PSSFileExport", new { fileName = Model.SignatureFileName, path = Model.SignatureFilePath, contentType = Model.SignatureContentType })" formnovalidate>
                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-primary view-blob" title="View file">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <input type="text" class="blobstring" value="@Model.SignatureBlob" hidden />
                    <input type="text" class="blob-content-type" value="@Model.SignatureContentType" hidden />
                </td>
            </tr>*@
            @if (Model.DisplayDetailsForApproval)
            {
                <tr>
                    <td colspan="2">
                        <div style="width:100%;height:655px;">
                            @(Html.Partial("\\ServicePartials\\PSSServiceDocumentPreviewPartial", new { FileRefNumber = Model.FileRefNumber }))
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Status == (int)Parkway.CBS.Police.Core.Models.Enums.PSSRequestStatus.Approved)
    {
        <div class="container-fluid" style="padding:0">
            <a href="@Url.RouteUrl(Parkway.CBS.Police.Admin.RouteName.PSSCharacterCertificateRequestDetails.ViewCertificate,new { fileRefNumber = @Model.FileRefNumber})" name="viewCertificate">click here to view character certificate</a>
        </div>
    }
}

@if (Model.IsBiometricsEnrolled)
{
    <div class="container-fluid" style="padding:0">
        <a href="@Url.RouteUrl(Parkway.CBS.Police.Admin.RouteName.PSSCharacterCertificateRequestDetails.ViewBiometrics,new { requestId = @Model.RequestId})" name="viewBiometrics" target="_blank">click here to view finger print biometric</a>
    </div>
}
@if (Model.DisplayDetailsForApproval)
{
    @(Html.Partial("\\ServicePartials\\" + Model.ApprovalPartialName.Trim(), Model))
}