@model dynamic
@Html.AntiForgeryToken()

<label for="comment">Comment</label>
<textarea class="extend-width" name="Comment" placeholder="Leave a comment" id="comment" required></textarea>

<div class="action-btns page-submit-btns">
    <div>
        <button class="btn btn-success" formaction="@Url.Action("ApproveRequest", (string)Model.ControllerName)">@T((string)Model.ApprovalButtonName)</button>
    </div>
    <div>
        <button class="btn btn-danger" formaction="@Url.Action("RejectRequest", (string)Model.ControllerName)" formnovalidate>@T("Reject")</button>
    </div>
</div>
