@model Parkway.CBS.Police.Core.VM.CharacterCertificateRequestVM

<div class="form-group">
    <label for="reasonForInquiry">Reason for Inquiry<span class="required-sym">*</span></label>
    <select required class="custom-select" name="CharacterCertificateReasonForInquiry" id="reasonForInquiry">
        <option selected disabled value="">Select a reason for inquiry</option>
        @if (Model.CharacterCertificateReasonsForInquiry != null && Model.CharacterCertificateReasonsForInquiry.Any())
        {
            foreach (var item in Model.CharacterCertificateReasonsForInquiry)
            {
                <option value="@item.Id" @(Model.CharacterCertificateReasonForInquiry == item.Id ? "selected" : "")>@item.Name</option>
            }
        }
    </select>
    <small class="form-text text-muted">Select a reason.</small>
    <div class="container-fluid no-padding validation-msg">@Html.ValidationMessage("CharacterCertificateReasonForInquiry", "Selected reason value is not valid", new { @class = "tiny-caption", @style = "color:#ff0000" })</div>
</div>

<div class="form-group" id="otherReasonsContainer" style="display:@(((Model.CharacterCertificateReasonForInquiry > 0) && Model.CharacterCertificateReasonsForInquiry.Where(x => x.Id == Model.CharacterCertificateReasonForInquiry).SingleOrDefault().ShowFreeForm) ? "block" : "none")">
    <label for="otherReasons">Other Reason<span class="required-sym">*</span></label>
    <input type="text" name="ReasonForInquiryValue" class="form-control" id="otherReasons" value="@(((Model.CharacterCertificateReasonForInquiry > 0) && Model.CharacterCertificateReasonsForInquiry.Where(x => x.Id == Model.CharacterCertificateReasonForInquiry).SingleOrDefault().ShowFreeForm) ? Model.ReasonForInquiryValue : "")" placeholder="Enter your specific reason for inquiry" @(((Model.CharacterCertificateReasonForInquiry > 0) && Model.CharacterCertificateReasonsForInquiry.Where(x => x.Id == Model.CharacterCertificateReasonForInquiry).SingleOrDefault().ShowFreeForm) ? "required" : "") />
    <small class="form-text text-muted">Enter your reason for inquiry.</small>
    <div class="container-fluid no-padding validation-msg">@Html.ValidationMessage("ReasonForInquiryValue", new { @class = "tiny-caption", @style = "color:#ff0000" })</div>
</div>