@model Parkway.CBS.Police.Core.VM.PCCDiasporaUserInputVM

<div class="form-group" style="position:relative">
    <label for="idType">Identification Type<span class="required-sym">*</span></label>
    <select class="custom-select" name="SelectedIdentityType" id="idType" required>
        <option selected disabled value="">Select an Identification Type</option>
        @foreach (var idType in Model.IdentityTypeList)
        {
            <option value="@idType.Id" @(Model.SelectedIdentityType == idType.Id ? "selected" : "")>@idType.Name</option>
        }
    </select>
    <small class="form-text text-muted">Select an identification type.</small>
    <small class="error-text" id="idTypeErrorText"></small>
    <span name="idTypeProfileloader" id="idTypeLoader" class="profileloader" style="position:absolute;margin:auto;z-index:10;"></span>
    <div class="container-fluid no-padding validation-msg">@Html.ValidationMessage("SelectedIdentityType", "Selected Identification type value is not valid.", new { @class = "tiny-caption", @style = "color:#ff0000" })</div>
</div>
<div class="form-group" style="position:relative">
    <label for="idNumber">Identification Number<span class="required-sym">*</span></label>
    <input type="text" required class="form-control" id="idNumber" placeholder="Enter ID number" name="IdentityValue" value="@Model.IdentityValue" />
    <small class="form-text text-muted" id="hintLabel">Specify identification number of the above selected type.</small>
    <small class="error-text" id="idNumberErrorText"></small>
    <span name="profileloader" id="idNumberLoader" class="profileloader" style="position:absolute;margin:auto;z-index:10;"></span>
    <div class="container-fluid no-padding validation-msg">@Html.ValidationMessage("IdentityValue", new { @class = "tiny-caption", @style = "color:#ff0000" })</div>
</div>
@*13783102760*@