<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="logo" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Styles/images/cbs-logo-white.svg"))" alt="">
                <p class="logo-caption">Nigeria’s #1 billing and payment platform for government internal revenue heads</p>
            </div>
            <div class="col-md-3 quick-links">
                @*<h3>QUICK LINKS</h3>
                <a href="@Url.RouteUrl("C.ShowDownloads")">Downloads</a>
                <a href="@Url.RouteUrl("C.About")">About</a>
                <a href="@Url.RouteUrl("C.ContactUs")">Contact</a>
                <a href="#">State News</a>*@
            </div>
            <div class="col-md-4">
                @*<h3>FOLLOW US</h3>
                <a class="social" href="#"><img src="/media/images/instagram.png" ))" alt=""></a>
                <a class="social" href="#"><img src="/media/images/twitter.png" ))" alt=""></a>
                <a class="social" href="#"><img src="/media/images/facebook.png" ))" alt=""></a>
                <p class="copyright">Copyright © @DateTime.Now.ToLocalTime().Year.ToString() Central Billing System</p>*@
            </div>
        </div>
    </div>
</div>