@model Parkway.CBS.Police.Core.VM.PSServiceOptionsPageVM

@{
    Layout.Title = Model.ServiceName;

    Script.Require("CBS.Popper.Script").AtFoot();
    Script.Require("CBS.Bootstrap4.Script").AtFoot();
    Script.Require("CBS.npf.main.Script").AtFoot();
    Script.Require("PSS.DatePicker.Script");
    Script.Require("PSS.Side.Note.Pop.Up.Script").AtFoot();
    Script.Require("Tooltip.Toggling.Script");
    Style.Require("CBS.Bootstrap");
    Style.Require("CBS.NPF.Main");

}
<div id="police-extract-content-one">
    @Html.Partial("Partials\\HeaderPartial", Model.HeaderObj)

    <div class="container-fluid police-extract-main-content no-margin no-padding">
        <div class="container-fluid breadcrumb-nav">
            <ul class="nav justify-content-center police-extract-nav-list">
                <li class="nav-item">
                    <span class="checked-task"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/checkedGreen.svg"))" /></span>
                    <a href="#" class="nav-link">Select Service</a>

                </li>
                <li class="nav-item">
                    <span style="float:right;transform:rotate(-90deg)"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/arrowDown.svg"))" class="right-arrow-icon" /></span>
                </li>
                <li class="nav-item">
                    <span class="small-active-circle"></span>
                    <a href="#" class="nav-link active-link">Fill Request Form</a>
                </li>
                <li class="nav-item">
                    <span style="float:right;transform:rotate(-90deg)"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/arrowDown.svg"))" class="right-arrow-icon" /></span>
                </li>
                <li class="nav-item">
                    <span class="small-circle"></span>
                    <a href="#" class="nav-link">Confirm Details and Submit Request</a>
                </li>
                <li class="nav-item">
                    <span style="float:right;transform:rotate(-90deg)"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/arrowDown.svg"))" class="right-arrow-icon" /></span>
                </li>
                <li class="nav-item">
                    <span class="small-circle"></span>
                    <a href="#" class="nav-link">Make Payment</a>
                </li>
            </ul>
            <div class="container-fluid active-center-link-container"><a href="#" class="active-center-link">Fill Request Form</a></div>
        </div>
        <div class="container-fluid police-extract-container no-padding">
            <div class="container police-extract-form-container no-padding">
                <div class="container-fluid no-margin no-padding service-note-toggle-container">
                    <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#sideNoteCollapsible" id="serviceNoteToggle">Click here to view note</button>
                </div>
                <div class="row no-margin no-padding">
                    <div class="container col-md-6 no-padding police-extract-form">
                        <h4>@Model.ServiceName.ToUpper()</h4>
                        <p class="grey-tip">Fill in the details of your request.</p>
                        <div class="row no-margin no-padding escort-duties-nav-list-form">
                            <div class="container no-margin no-padding">
                                <span class="small-blue-circle"></span>
                                <p>Applicant&nbsp;Info</p>
                            </div>
                            <div class="container dashed-block no-margin no-padding">
                                <div style="border:0.5px dashed #E3E3E3"></div>
                            </div>
                            <div class="container no-margin no-padding">
                                <span class="small-blue-circle"></span>
                                <p>Form 1</p>
                            </div>
                            <div class="container dashed-block no-margin no-padding">
                                <div style="border:0.5px dashed #E3E3E3"></div>
                            </div>
                            <div class="container no-margin no-padding">
                                <span class="small-filled-circle"></span>
                                <p>Form 2</p>
                            </div>
                        </div>
                        @using (Html.BeginRouteForm(Parkway.CBS.Police.Client.RouteName.ServiceOptions.SelectOption, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="requestType">Request Location<span class="required-sym">*</span></label>
                                <select required class="custom-select" name="selectedOption" id="selectedOption">
                                    <option selected disabled value="">Select your location</option>
                                    @if (Model.Options != null && Model.Options.Any())
                                    {
                                        foreach (var item in Model.Options)
                                        {
                                            <option value="@item.Id" @(Model.SelectedOption == item.Id ? "selected" : "")>@item.Name</option>
                                        }
                                    }
                                </select>
                                <small class="form-text text-muted">Select where you are requesting from. If you are requesting from Nigeria select Within Nigeria from the drop down above</small>
                                <div class="container-fluid no-padding validation-msg">@Html.ValidationMessage("SelectedOption", "Selected option type value is not valid", new { @class = "tiny-caption", @style = "color:#ff0000" })</div>
                            </div>
                            <button type="submit" class="btn blue-btn btn-block">Proceed</button>
                        }
                    </div>
                    @Html.Partial("Partials\\SideNotePartial", Model.ServiceNote)
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Partials\\FooterPartial")
</div>
