@model Parkway.CBS.Core.HelperModels.FormControlViewModel
@{ Script.Require("CBS.LGA.Partial.Script").AtFoot(); }
<script>
    var lgas = @Html.Raw(Json.Encode(Model.PartialModel))
    var lgaMap = new Map(lgas.map(x => [x[0].StateName, x]));
    var selectedLga = @Html.Raw(Json.Encode(Model.FormValue));
</script>
<div class="form-group" id="@("div"+Model.Index)">
    <div class="container no-margin px-0">
        <label>@Model.LabelText</label>
        @Html.Hidden("[" + Model.FormIndex + "].Name", Model.Name)
        @Html.Hidden("[" + Model.FormIndex + "].HintText", Model.HintText)
        @Html.Hidden("[" + Model.FormIndex + "].ControlIdentifier", Model.ControlIdentifier)
        @Html.Hidden("[" + Model.FormIndex + "].FormIndex", Model.FormIndex)
        <select id="lga" class="form-control" name="@("[" + Model.FormIndex + "].FormValue")" @(Model.IsCompulsory ? "required" : "")>
            <option selected disabled value="">@Model.PlaceHolderText</option>
        </select>
        <small class="form-text text-muted">@Model.HintText</small>
        <div class="container-fluid no-padding validation-msg px-0">@Html.ValidationMessage("[" + Model.FormIndex + "].FormValue", new { @class = "tiny-caption", @style = "color:#ff0000" })</div>
    </div>
</div>