@model Parkway.CBS.Core.HelperModels.FormControlViewModel

<div class="col-md-12">
    <div class="form-group" id="@("div"+Model.Index)">
        <label for="lga">@Model.LabelText<small style="color:red; font-weight:bolder">*</small></label>
        @Html.Hidden("[" + Model.FormIndex + "].ControlIdentifier", Model.ControlIdentifier)
        @Html.Hidden("[" + Model.FormIndex + "].FormIndex", Model.FormIndex)
        @{
            int year = DateTime.Now.Year;
        }
        <select class="custom-select" name="@("[" + Model.FormIndex + "].FormValue")" @(Model.IsCompulsory ? "required" : "")>
            <option selected disabled value="">@Model.PlaceHolderText</option>
            @for (int i = 0; i <= 30; i++)
            {
                <option value="@(year-i)">@(year - i)</option>
            }
        </select>
        <small class="form-text text-muted">@Model.HintText</small>
        <div class="container-fluid no-padding validation-msg">@Html.ValidationMessage("[" + Model.FormIndex + "].FormValue", new { @class = "tiny-caption", @style = "color:#ff0000" })</div>
    </div>
</div>
